# Google Merchandise EDA

#### Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#### Ignoring the warnings

In [2]:
import warnings
warnings.filterwarnings("ignore")

#### Loading the Dataset

In [3]:
events=pd.read_csv('data/events1.csv')
items=pd.read_csv('data/items.csv')
users=pd.read_csv('data/users.csv')

#### Merging the 3 Data Frame into one complete Data Frame

In [4]:
items = items.rename(columns={'id': 'item_id'})
users = users.rename(columns={'id': 'user_id'})

df = (
    events
    .merge(items, on='item_id', how='left')
    .merge(users, on='user_id', how='left')
)

#### Displaying the first 10 rows of the dataset to get a quick look at the data

In [5]:
df.head(10)

,user_id,ga_session_id,country,device,type,item_id,date_x,name,brand,variant,category,price_in_usd,ltv,date_y
0,2133,16909,US,mobile,purchase,94,2020-11-01 00:27:14,Google Large Tote White,Google,Single Option Only,Bags,10,34,2020-11-01 00:09:55
1,2133,16909,US,mobile,purchase,425,2020-11-01 00:27:14,Google Heather Green Speckled Tee,Google,XL,Apparel,21,34,2020-11-01 00:09:55
2,5789,16908,SE,desktop,purchase,1,2020-11-01 01:44:44,Google KeepCup,Google,Single Option Only,New,28,72,2020-10-14 00:26:03
3,5789,16908,SE,desktop,purchase,62,2020-11-01 01:44:44,Google Mini Kick Ball,Google,Single Option Only,Fun,2,72,2020-10-14 00:26:03
4,5808,4267,US,mobile,add_to_cart,842,2020-11-01 03:06:29,Google Infant Hero Onesie Grey,Google,NaN,Apparel,25,0,2020-08-18 03:44:52
5,5808,4267,US,mobile,add_to_cart,951,2020-11-01 03:06:29,YouTube Icon Tee Grey,YouTube,NaN,Apparel,22,0,2020-08-18 03:44:52
6,5808,4267,US,mobile,add_to_cart,950,2020-11-01 03:06:29,Google Navy Speckled Tee,Google,NaN,Apparel,30,0,2020-08-18 03:44:52
7,5808,4267,US,mobile,add_to_cart,1068,2020-11-01 03:06:29,Google Eco Tee Black,Google,NaN,Apparel,22,0,2020-08-18 03:44:52
8,5808,4267,US,mobile,add_to_cart,862,2020-11-01 03:06:29,Google Land & Sea French Terry Sweatshirt,Google,NaN,Shop by Brand,55,0,2020-08-18 03:44:52
9,5808,4267,US,mobile,add_to_cart,1119,2020-11-01 03:06:29,Google Crew Socks,Google,NaN,Apparel,16,0,2020-08-18 03:44:52

#### Displaying the total number of rows and columns in the dataset

In [6]:
rows, columns = df.shape
print(f'This complete contains {rows} rows and {columns} columns.')

This complete contains 758884 rows and 14 columns.

#### Displaying column names

In [7]:
df.columns

Index(['user_id', 'ga_session_id', 'country', 'device', 'type', 'item_id',
       'date_x', 'name', 'brand', 'variant', 'category', 'price_in_usd', 'ltv',
       'date_y'],
      dtype='str')

#### Based on the publicly available Google Merchandise Store dataset, the meaning of each column is as follows:

- user_id: Unique identifier assigned to each user/customer.
- ga_session_id: Unique identifier for a user session (a single visit to the website).
- country: Country from which the user accessed the store.
- device: Type of device used during the session (e.g., mobile, desktop).
- type: Type of event performed (e.g., purchase, add_to_cart).
- item_id: Unique identifier of the product involved in the event.
- date_x: Timestamp of the event (when the interaction such as purchase or add_to_cart occurred).
- name: Name of the product.
- brand: Brand associated with the product (e.g., Google, YouTube).
- variant: Specific variation of the product (e.g., size, color, or option). May contain missing values.
- category: Product category (e.g., Apparel, Bags, Fun, New).
- price_in_usd: Price of the product in US dollars.
- ltv: Lifetime Value of the user, total revenue generated by the user over time.
- date_y: Timestamp related to the user’s lifecycle (often first interaction or account creation date).

In [8]:
df.describe()

,user_id,ga_session_id,item_id,price_in_usd,ltv
count,758884.000000,758884.000000,758884.000000,758884.000000,758884.000000
mean,29541.809665,3632.325492,885.629356,24.759137,61.428210
std,55129.337846,3952.875337,289.267126,20.892459,124.049917
min,1.000000,0.000000,0.000000,1.000000,0.000000
25%,8401.000000,625.000000,913.000000,11.000000,0.000000
50%,17181.000000,2103.000000,972.000000,22.000000,0.000000
75%,25809.000000,5365.000000,1040.000000,30.000000,80.000000
max,270145.000000,18033.000000,1380.000000,313.000000,1530.000000

#### Displaying columns along with their data types

In [9]:
df.dtypes

user_id          int64
ga_session_id    int64
country            str
device             str
type               str
item_id          int64
date_x             str
name               str
brand              str
variant            str
category           str
price_in_usd     int64
ltv              int64
date_y             str
dtype: object

#### Observations on Data Types

Upon inspecting the dataset, most columns have appropriate data types for analysis. However, a few columns may need attention or conversion:

- country, device, type, name, brand, variant, category, date_x, date_y – Stored as str (string). For analysis, date_x and date_y should ideally be converted to datetime objects.

- user_id, ga_session_id, item_id, price_in_usd, ltv – Stored as numeric types (int64) and ready for analysis.

#### Checking all unique values of each column

In [10]:
for col in df.columns:
    unique_vals = df[col].unique()
    print(f'Column Name : {col}')
    print(f'Total number of unique values : {len(unique_vals)}')
    print(f'Unique Values : {unique_vals}')
    print('-'*50)
    print('\n')

Column Name : user_id
Total number of unique values : 14701
Unique Values : [  2133   5789   5808 ...  19742 266597 234237]
--------------------------------------------------


Column Name : ga_session_id
Total number of unique values : 18034
Unique Values : [16909 16908  4267 ...  9347  5568 12443]
--------------------------------------------------


Column Name : country
Total number of unique values : 109
Unique Values : <StringArray>
['US', 'SE', 'CA', 'BE', 'GB', 'TR', 'PE', 'ES', 'IN', 'MY',
 ...
 'GH', 'OM', 'BY', 'BA', 'PY', 'PA', 'XK', 'TT', 'MM', 'AM']
Length: 109, dtype: str
--------------------------------------------------


Column Name : device
Total number of unique values : 3
Unique Values : <StringArray>
['mobile', 'desktop', 'tablet']
Length: 3, dtype: str
--------------------------------------------------


Column Name : type
Total number of unique values : 3
Unique Values : <StringArray>
['purchase', 'add_to_cart', 'begin_checkout']
Length: 3, dtype: str
--------------------------------------------------


Column Name : item_id
Total number of unique values : 1381
Unique Values : [  94  425    1 ...  241 1379 1372]
--------------------------------------------------


Column Name : date_x
Total number of unique values : 78040
Unique Values : <StringArray>
['2020-11-01 00:27:14', '2020-11-01 01:44:44', '2020-11-01 03:06:29',
 '2020-11-01 03:09:47', '2020-11-01 03:10:08', '2020-11-01 03:10:25',
 '2020-11-01 04:11:11', '2020-11-01 06:17:40', '2020-11-01 09:53:30',
 '2020-11-01 11:06:54',
 ...
 '2021-01-31 23:44:56', '2021-01-31 23:45:37', '2021-01-31 23:46:16',
 '2021-01-31 23:46:47', '2021-01-31 23:48:26', '2021-01-31 23:48:27',
 '2021-01-31 23:50:18', '2021-01-31 23:50:32', '2021-01-31 23:50:50',
 '2021-01-31 23:59:08']
Length: 78040, dtype: str
--------------------------------------------------


Column Name : name
Total number of unique values : 421
Unique Values : <StringArray>
[                  'Google Large Tote White',
         'Google Heather Green Speckled Tee',
                            'Google KeepCup',
                     'Google Mini Kick Ball',
            'Google Infant Hero Onesie Grey',
                     'YouTube Icon Tee Grey',
                  'Google Navy Speckled Tee',
                      'Google Eco Tee Black',
 'Google Land & Sea French Terry Sweatshirt',
                         'Google Crew Socks',
 ...
                'Android Flex Journal White',
                'Google Confetti Tote White',
               'Android Cardboard Sculpture',
          'Google Charcoal Unisex Badge Tee',
                   'Google Grey Women's Tee',
                'White Google Cloud Tumbler',
                 'Google Tritan Bottle Gray',
                   'Google Light Pen Yellow',
                 'Google Separating Keyring',
        'Google Mountain View Campus Bottle']
Length: 421, dtype: str
--------------------------------------------------


Column Name : brand
Total number of unique values : 5
Unique Values : <StringArray>
['Google', 'YouTube', 'Android', '#IamRemarkable', 'Google Cloud']
Length: 5, dtype: str
--------------------------------------------------


Column Name : variant
Total number of unique values : 45
Unique Values : <StringArray>
[  'Single Option Only',                  ' XL',                    nan,
                 ' 2XL',                  ' LG',                  ' MD',
                  ' SM',                  ' XS',        ' 18/24 MONTHS',
                  ' 4T',                ' 5/6T',                 ' 3XL',
                  ' 3T',        ' 12/18 MONTHS',               ' GREEN',
                ' BLUE',                 ' RED',                  ' 2T',
         ' 6/12 MONTHS',          ' 3/6 MONTHS',                  ' 6M',
             ' NEWBORN',                   'SM',                   'MD',
                   'XL',          '6/12 MONTHS',                   'LG',
          'Choose Size',                   'XS',           '3/6 MONTHS',
                  '3XL',         '12/18 MONTHS',                   '3T',
                   '4T',                  '2XL',              'NEWBORN',
                 '5/6T',                 ' 18M',                  ' 5T',
                 ' XXS',                   '2T',                 'BLUE',
                 ' 12M',                 ' 24M', 'No options available']
Length: 45, dtype: str
--------------------------------------------------


Column Name : category
Total number of unique values : 21
Unique Values : <StringArray>
[                   'Bags',                 'Apparel',
                     'New',                     'Fun',
           'Shop by Brand',               'Clearance',
       'Campus Collection',             'Small Goods',
             'Accessories',               'Drinkware',
     'Uncategorized Items',                  'Office',
              'Stationery',                  'Google',
            'Eco-Friendly',               'Lifestyle',
     'Writing Instruments', 'Electronics Accessories',
    'Notebooks & Journals',              'Gift Cards',
      'Black Lives Matter']
Length: 21, dtype: str
--------------------------------------------------


Column Name : price_in_usd
Total number of unique values : 70
Unique Values : [ 10  21  28   2  25  22  30  55  16   9  37  17  29  20  13   7   1   8
  11  12  18  32  14  38 120   6  24  35  48   3  92  15 115   4  19  44
  58  60  96  42  71  33  41   5  63  79  46  70  61  40  89  26  45  27
  23  50  49  75  88  76  56  69  95  99  62  43 313  31 100  36]
--------------------------------------------------


Column Name : ltv
Total number of unique values : 423
Unique Values : [  34   72    0   25   87   46   63   60   13  114  181   59  120   48
  130  157   38   24   78  795   20   51  162   32   66  518   85  192
   58   68  513   86  175   35   93  212 1126  170   55   92  166   49
   50  236   88   17  141   30   56  171   29   12   69  353  183   40
  219   36   90   37  111  279   52   22  116   44   81   47   11   54
   28   97   83   16  167   84  318  239  123  186   23  461   96  132
  103    4   14   98  142   65   70   53   18  265   33  517   71   89
  145  100  112  188  153   15  451  384   61   39   27  198  110   43
  199   41  128   21  138  158  122  835  144   73  135  975   10  125
  139  224   26  516  235  292  176  272  523  143  978   64  206   82
  193  104  149   42    3  177  102  127  257  113  179   74  180   31
  319   62   94  210  408   80   67  311  106   76  200  274  299    7
  182  605  121  136  109  490   45  264   57  165    1  119   19  101
    8  217  152  169  108  133  184  151  168 1215   79  118  284  320
  115  240  524    6  148  355  359  300  146  354  341  174  262  129
   95  211  214  124  533  126  191  190  325  231   75  230  154  305
  374  247  256  680  197  209  345   91  232    5  189  438  173  514
  525  713  618  477  365  465  246  337  285  195  670  208  708  156
  678  424  330  260  140  271  252  645  202  508  375  298  185  903
  322  369   99  570  225  134  178  238  352  290  331  462  245  205
  478  207  456  159  489  385  194  378  254  357  204  431  540  150
  248  704  430  172    2  280  278  249  406  765  588  147  229  255
  393  416  228  266  474  806  291  386  226  131   77  259  522  366
  270  218  377  243  233  107  277  117  744  160 1049  220  443  336
  216  566  203  817  361  449  187  373  676 1260 1121  258  671  581
  307  155  326  376  237  758  324  287  161  163  223  263  909  394
  332  405 1019  253  137  427  404  215  550  539  437  412  105  339
  432  551  446  491  164  213  484  314  784  576  268  350  288  242
  316  342  227 1530  351 1409  302  600  748  196  530  460  683  251
  362  282  712  656  294  480 1424  221  293  865 1200  276  395  364
  347  486  283]
--------------------------------------------------


Column Name : date_y
Total number of unique values : 14276
Unique Values : <StringArray>
['2020-11-01 00:09:55', '2020-10-14 00:26:03', '2020-08-18 03:44:52',
 '2020-11-01 04:01:10', '2020-11-01 06:03:35', '2020-11-01 09:32:46',
 '2020-09-30 14:43:11', '2020-11-01 10:15:53', '2020-10-28 19:34:12',
 '2020-11-01 14:53:48',
 ...
 '2021-01-28 09:58:02', '2021-01-31 22:32:54', '2021-01-31 22:36:41',
 '2021-01-31 22:55:09', '2021-01-31 22:56:22', '2021-01-31 23:03:00',
 '2021-01-31 23:35:20', '2021-01-31 23:43:50', '2021-01-31 23:47:21',
 '2021-01-31 23:56:44']
Length: 14276, dtype: str
--------------------------------------------------

## Summary of Data Observations

Columns with correct types
- user_id, ga_session_id, item_id, price_in_usd, ltv – Stored as int64, ready for analysis.
- country, device, type, name, brand, variant, category, date_x, date_y – Stored as strings; mostly fine, though date_x and date_y should be converted to datetime for time-based analysis

Columns needing cleaning or further preprocessing
- variant – Contains missing values (NaN) and extra spaces in strings; may need stripping or filling.
- date_x and date_y – Currently strings; convert to datetime for session or purchase analysis over time.
- device and type – Few unique values; can be converted to categorical type for memory efficiency.

Columns with anomalies or special observations
- price_in_usd – Ranges from $1 to $313; ensure consistency and check for outliers.
- ltv – Ranges from 0 to 1530; some users have zero lifetime value (likely no purchases).
- variant – Some entries are nonspecific like "No options available" or "Single Option Only".
- category – 21 unique values, includes special categories like "Gift Cards" and "Black Lives Matter"

Columns likely not needed for feature analysis
- user_id, ga_session_id, and item_id are identifiers, useful for merging or aggregation, but may not be directly used as features in modeling.

#### Checking all unique values of each column

In [11]:
# Count of NaN / None values per column
nan_count = df.isnull().sum()

# Count of empty strings per column
empty_count = (df == '').sum()

# Total missing values (NaN + empty strings)
total_missing = nan_count + empty_count

# Percentage of missing values
missing_percent = (total_missing / len(df)) * 100

missing_df = pd.DataFrame({
    'Missing Values': total_missing,
    'Percentage (%)': missing_percent
}).sort_values(by='Percentage (%)', ascending=False)

print(missing_df)

               Missing Values  Percentage (%)
variant                636260       83.841536
country                  4555        0.600223
ga_session_id               0        0.000000
device                      0        0.000000
type                        0        0.000000
user_id                     0        0.000000
item_id                     0        0.000000
date_x                      0        0.000000
name                        0        0.000000
brand                       0        0.000000
category                    0        0.000000
price_in_usd                0        0.000000
ltv                         0        0.000000
date_y                      0        0.000000

#### Data Cleaning

- variant has 83.84% missing values, which too high to impute reliably.
- country has only 0.6% missing values, so a small fraction that can be safely filled with 'Unknown' so as to avoid any biases.

In [12]:
# Fill missing values in the 'country' column with 'Unknown'
df['country'].fillna('Unknown', inplace=True)

0         US
1         US
2         SE
3         SE
4         US
          ..
758879    IN
758880    IN
758881    IN
758882    IN
758883    IN
Name: country, Length: 758884, dtype: str

In [13]:
# Columns you want to remove
columns_to_remove = ['variant'] 

# Remove columns
df = df.drop(columns=columns_to_remove)

In [14]:
# Convert date columns to datetime
df['date_x'] = pd.to_datetime(df['date_x'])
df['date_y'] = pd.to_datetime(df['date_y'])

# Convert categorical columns to 'category' dtype
categorical_cols = ['country', 'device', 'type', 'name', 'brand', 'category']
for col in categorical_cols:
    df[col] = df[col].astype('category')

# Ensure identifiers and numeric columns stay as int64
numeric_cols = ['user_id', 'ga_session_id', 'item_id', 'price_in_usd', 'ltv']
for col in numeric_cols:
    df[col] = df[col].astype('int64')

print(df.dtypes)

user_id                   int64
ga_session_id             int64
country                category
device                 category
type                   category
item_id                   int64
date_x           datetime64[us]
name                   category
brand                  category
category               category
price_in_usd              int64
ltv                       int64
date_y           datetime64[us]
dtype: object

## Time for Insights

The graphs created in the analysis below had to be commented. Reasob being that - if we upload the files with the graphs itelf, the file size exceeds above 100 MB and Git hub does not allow such big files to be uploaded

#### Univaraite Analysis

In [15]:
'''# -------------------------
# CATEGORICAL VARIABLES
# -------------------------

# 1. Top 10 Countries
top_countries = df['country'].value_counts().nlargest(10).rename_axis('Country').reset_index(name='Count')
fig = px.bar(top_countries, x='Count', y='Country', orientation='h',
             title='Top 10 Countries by Users', text='Count')
fig.update_traces(textposition='outside')
fig.update_layout(yaxis=dict(categoryorder='total ascending'))
fig.show()

# 2. Device Distribution
device_counts = df['device'].value_counts().rename_axis('Device').reset_index(name='Count')
fig = px.pie(device_counts, names='Device', values='Count', title='Device Distribution')
fig.show()

# 3. Event Type Distribution
type_counts = df['type'].value_counts().rename_axis('Event Type').reset_index(name='Count')
fig = px.bar(type_counts, x='Event Type', y='Count', text='Count', title='Event Type Distribution')
fig.update_traces(textposition='outside')
fig.show()

# 4. Top 10 Categories
top_categories = df['category'].value_counts().nlargest(10).rename_axis('Category').reset_index(name='Count')
fig = px.bar(top_categories, x='Category', y='Count', text='Count', title='Top 10 Categories')
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()

# 5. Brand Distribution
brand_counts = df['brand'].value_counts().rename_axis('Brand').reset_index(name='Count')
fig = px.pie(brand_counts, names='Brand', values='Count', title='Brand Distribution')
fig.show()'''

"# -------------------------\n# CATEGORICAL VARIABLES\n# -------------------------\n\n# 1. Top 10 Countries\ntop_countries = df['country'].value_counts().nlargest(10).rename_axis('Country').reset_index(name='Count')\nfig = px.bar(top_countries, x='Count', y='Country', orientation='h',\n             title='Top 10 Countries by Users', text='Count')\nfig.update_traces(textposition='outside')\nfig.update_layout(yaxis=dict(categoryorder='total ascending'))\nfig.show()\n\n# 2. Device Distribution\ndevice_counts = df['device'].value_counts().rename_axis('Device').reset_index(name='Count')\nfig = px.pie(device_counts, names='Device', values='Count', title='Device Distribution')\nfig.show()\n\n# 3. Event Type Distribution\ntype_counts = df['type'].value_counts().rename_axis('Event Type').reset_index(name='Count')\nfig = px.bar(type_counts, x='Event Type', y='Count', text='Count', title='Event Type Distribution')\nfig.update_traces(textposition='outside')\nfig.show()\n\n# 4. Top 10 Categories\ntop_categories = df['category'].value_counts().nlargest(10).rename_axis('Category').reset_index(name='Count')\nfig = px.bar(top_categories, x='Category', y='Count', text='Count', title='Top 10 Categories')\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()\n\n# 5. Brand Distribution\nbrand_counts = df['brand'].value_counts().rename_axis('Brand').reset_index(name='Count')\nfig = px.pie(brand_counts, names='Brand', values='Count', title='Brand Distribution')\nfig.show()"

In [16]:
'''# -------------------------
# NUMERICAL VARIABLES
# -------------------------

# 6. Price Distribution
fig = px.histogram(df, x='price_in_usd', nbins=30, marginal='box', 
                   title='Price Distribution', text_auto=True)
fig.show()

# 7. Lifetime Value (LTV) Distribution
fig = px.histogram(df, x='ltv', nbins=30, marginal='box',
                   title='Customer LTV Distribution', text_auto=True)
fig.show()

# 8. Top 10 Items Sold
top_items = df['item_id'].value_counts().nlargest(10).rename_axis('Item ID').reset_index(name='Count')
fig = px.bar(top_items, x='Item ID', y='Count', text='Count', title='Top 10 Items Sold')
fig.update_traces(textposition='outside')
fig.show()

# 9. Sessions per User
sessions_per_user = df.groupby('user_id')['ga_session_id'].nunique().reset_index(name='Sessions')
fig = px.histogram(sessions_per_user, x='Sessions', nbins=30, title='Sessions per User', text_auto=True)
fig.show()'''

"# -------------------------\n# NUMERICAL VARIABLES\n# -------------------------\n\n# 6. Price Distribution\nfig = px.histogram(df, x='price_in_usd', nbins=30, marginal='box', \n                   title='Price Distribution', text_auto=True)\nfig.show()\n\n# 7. Lifetime Value (LTV) Distribution\nfig = px.histogram(df, x='ltv', nbins=30, marginal='box',\n                   title='Customer LTV Distribution', text_auto=True)\nfig.show()\n\n# 8. Top 10 Items Sold\ntop_items = df['item_id'].value_counts().nlargest(10).rename_axis('Item ID').reset_index(name='Count')\nfig = px.bar(top_items, x='Item ID', y='Count', text='Count', title='Top 10 Items Sold')\nfig.update_traces(textposition='outside')\nfig.show()\n\n# 9. Sessions per User\nsessions_per_user = df.groupby('user_id')['ga_session_id'].nunique().reset_index(name='Sessions')\nfig = px.histogram(sessions_per_user, x='Sessions', nbins=30, title='Sessions per User', text_auto=True)\nfig.show()"

In [17]:
'''# -------------------------
# DATE / TIME VARIABLES
# -------------------------

# 10. Purchase Timeline
fig = px.histogram(df, x='date_x', nbins=50, title='Purchase Activity Over Time')
fig.show()'''

"# -------------------------\n# DATE / TIME VARIABLES\n# -------------------------\n\n# 10. Purchase Timeline\nfig = px.histogram(df, x='date_x', nbins=50, title='Purchase Activity Over Time')\nfig.show()"

#### Bivaraite Analysis

In [18]:
df['revenue'] = df['price_in_usd']  # for revenue-based analysis

In [19]:
'''# Numeric vs Numeric
# 1. Price vs LTV
fig = px.scatter(df, x='price_in_usd', y='ltv', color='category', hover_data=['name'], title='Price vs LTV')
fig.show()

# 2. Items per session vs LTV
items_per_session = df.groupby(['user_id','ga_session_id']).size().reset_index(name='Num_Items')
user_ltv = df.groupby('user_id')['ltv'].max().reset_index()
merged = items_per_session.merge(user_ltv, on='user_id')
fig = px.scatter(merged, x='Num_Items', y='ltv', title='Number of Items per Session vs LTV')
fig.show()'''

"# Numeric vs Numeric\n# 1. Price vs LTV\nfig = px.scatter(df, x='price_in_usd', y='ltv', color='category', hover_data=['name'], title='Price vs LTV')\nfig.show()\n\n# 2. Items per session vs LTV\nitems_per_session = df.groupby(['user_id','ga_session_id']).size().reset_index(name='Num_Items')\nuser_ltv = df.groupby('user_id')['ltv'].max().reset_index()\nmerged = items_per_session.merge(user_ltv, on='user_id')\nfig = px.scatter(merged, x='Num_Items', y='ltv', title='Number of Items per Session vs LTV')\nfig.show()"

In [20]:
'''# Numeric vs Categorical (averaged)
# 3. Average Price by Category (Top 10)
top_categories_list = top_categories['Category'].tolist()
df_top_cat = df[df['category'].isin(top_categories_list)]
avg_price_cat = df_top_cat.groupby('category')['price_in_usd'].mean().reset_index()
fig = px.bar(avg_price_cat, x='category', y='price_in_usd', text='price_in_usd', title='Average Price by Category (Top 10)')
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()

# 4. Average LTV by Device
avg_ltv_device = df.groupby('device')['ltv'].mean().reset_index()
fig = px.bar(avg_ltv_device, x='device', y='ltv', text='ltv', title='Average LTV by Device')
fig.update_traces(textposition='outside')
fig.show()

# 5. Average LTV by Country (Top 10)
df_top_country = df[df['country'].isin(top_countries['Country'].tolist())]
avg_ltv_country = df_top_country.groupby('country')['ltv'].mean().reset_index()
fig = px.bar(avg_ltv_country, x='country', y='ltv', text='ltv', title='Average LTV by Country (Top 10)')
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()'''

"# Numeric vs Categorical (averaged)\n# 3. Average Price by Category (Top 10)\ntop_categories_list = top_categories['Category'].tolist()\ndf_top_cat = df[df['category'].isin(top_categories_list)]\navg_price_cat = df_top_cat.groupby('category')['price_in_usd'].mean().reset_index()\nfig = px.bar(avg_price_cat, x='category', y='price_in_usd', text='price_in_usd', title='Average Price by Category (Top 10)')\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()\n\n# 4. Average LTV by Device\navg_ltv_device = df.groupby('device')['ltv'].mean().reset_index()\nfig = px.bar(avg_ltv_device, x='device', y='ltv', text='ltv', title='Average LTV by Device')\nfig.update_traces(textposition='outside')\nfig.show()\n\n# 5. Average LTV by Country (Top 10)\ndf_top_country = df[df['country'].isin(top_countries['Country'].tolist())]\navg_ltv_country = df_top_country.groupby('country')['ltv'].mean().reset_index()\nfig = px.bar(avg_ltv_country, x='country', y='ltv', text='ltv', title='Average LTV by Country (Top 10)')\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()"

In [21]:
'''# Categorical vs Categorical
# 6. Event Type vs Device
event_device = df.groupby(['type','device']).size().reset_index(name='Count')
fig = px.bar(event_device, x='type', y='Count', color='device', text='Count', title='Event Type by Device')
fig.update_traces(textposition='outside')
fig.show()

# 7. Category vs Brand (Top 10 categories)
cat_brand = df[df['category'].isin(top_categories_list)].groupby(['category','brand']).size().reset_index(name='Count')
fig = px.bar(cat_brand, x='category', y='Count', color='brand', text='Count', title='Category vs Brand (Top 10 Categories)')
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()

# Date vs Numeric
# 8. Total Revenue over Time
daily_revenue = df.groupby('date_x')['revenue'].sum().reset_index()
fig = px.line(daily_revenue, x='date_x', y='revenue', title='Total Revenue Over Time')
fig.show()

# 9. Number of Purchases per Day
daily_purchases = df.groupby('date_x').size().reset_index(name='Num_Purchases')
fig = px.line(daily_purchases, x='date_x', y='Num_Purchases', title='Number of Purchases per Day')
fig.show()'''

"# Categorical vs Categorical\n# 6. Event Type vs Device\nevent_device = df.groupby(['type','device']).size().reset_index(name='Count')\nfig = px.bar(event_device, x='type', y='Count', color='device', text='Count', title='Event Type by Device')\nfig.update_traces(textposition='outside')\nfig.show()\n\n# 7. Category vs Brand (Top 10 categories)\ncat_brand = df[df['category'].isin(top_categories_list)].groupby(['category','brand']).size().reset_index(name='Count')\nfig = px.bar(cat_brand, x='category', y='Count', color='brand', text='Count', title='Category vs Brand (Top 10 Categories)')\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()\n\n# Date vs Numeric\n# 8. Total Revenue over Time\ndaily_revenue = df.groupby('date_x')['revenue'].sum().reset_index()\nfig = px.line(daily_revenue, x='date_x', y='revenue', title='Total Revenue Over Time')\nfig.show()\n\n# 9. Number of Purchases per Day\ndaily_purchases = df.groupby('date_x').size().reset_index(name='Num_Purchases')\nfig = px.line(daily_purchases, x='date_x', y='Num_Purchases', title='Number of Purchases per Day')\nfig.show()"

#### Multivaraite Analysis

In [22]:
'''# -------------------------
# MULTIVARIATE ANALYSIS
# -------------------------

# 1. Device × Category × Average LTV (Top 10 categories)
df_top_cat = df[df['category'].isin(top_categories_list)]
avg_ltv_device_cat = df_top_cat.groupby(['category','device'])['ltv'].mean().reset_index()
fig = px.bar(avg_ltv_device_cat, x='category', y='ltv', color='device', text='ltv', title='Average LTV by Device and Category (Top 10)')
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()

# Top 5 countries & top 5 categories average price
top_5_countries = top_countries['Country'].head(5).tolist()
top_5_categories = top_categories['Category'].head(5).tolist()

df_filtered = df[(df['country'].isin(top_5_countries)) & 
                 (df['category'].isin(top_5_categories))]

avg_price_country_cat = df_filtered.groupby(['country','category'])['price_in_usd'].mean().reset_index()

fig = px.bar(
    avg_price_country_cat,
    x='country',
    y='price_in_usd',
    color='category',
    text='price_in_usd',
    title='Average Price by Country and Category (Top 5 Countries & Categories)',
    barmode='group'
)
fig.update_traces(textposition='outside')
fig.update_xaxes(tickangle=45)
fig.show()

# 3. Event Type × Device × Total LTV
type_device_ltv = df.groupby(['type','device']).agg({'ltv':'sum'}).reset_index()
fig = px.bar(type_device_ltv, x='type', y='ltv', color='device', text='ltv', title='Total LTV by Event Type and Device')
fig.update_traces(textposition='outside')
fig.show()

# 4. Category × LTV × Date (Top 5 categories)
# Top 5 categories for LTV over time
top_5_categories = top_categories['Category'].head(5).tolist()

# Filter data for Top 5 categories
cat_date_ltv_top5 = df[df['category'].isin(top_5_categories)].groupby(['date_x','category'])['ltv'].sum().reset_index()

# Plot LTV over time by category (Top 5)
fig = px.line(
    cat_date_ltv_top5,
    x='date_x',
    y='ltv',
    color='category',
    title='LTV Over Time by Category (Top 5)'
)
fig.show()'''

"# -------------------------\n# MULTIVARIATE ANALYSIS\n# -------------------------\n\n# 1. Device × Category × Average LTV (Top 10 categories)\ndf_top_cat = df[df['category'].isin(top_categories_list)]\navg_ltv_device_cat = df_top_cat.groupby(['category','device'])['ltv'].mean().reset_index()\nfig = px.bar(avg_ltv_device_cat, x='category', y='ltv', color='device', text='ltv', title='Average LTV by Device and Category (Top 10)')\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()\n\n# Top 5 countries & top 5 categories average price\ntop_5_countries = top_countries['Country'].head(5).tolist()\ntop_5_categories = top_categories['Category'].head(5).tolist()\n\ndf_filtered = df[(df['country'].isin(top_5_countries)) & \n                 (df['category'].isin(top_5_categories))]\n\navg_price_country_cat = df_filtered.groupby(['country','category'])['price_in_usd'].mean().reset_index()\n\nfig = px.bar(\n    avg_price_country_cat,\n    x='country',\n    y='price_in_usd',\n    color='category',\n    text='price_in_usd',\n    title='Average Price by Country and Category (Top 5 Countries & Categories)',\n    barmode='group'\n)\nfig.update_traces(textposition='outside')\nfig.update_xaxes(tickangle=45)\nfig.show()\n\n# 3. Event Type × Device × Total LTV\ntype_device_ltv = df.groupby(['type','device']).agg({'ltv':'sum'}).reset_index()\nfig = px.bar(type_device_ltv, x='type', y='ltv', color='device', text='ltv', title='Total LTV by Event Type and Device')\nfig.update_traces(textposition='outside')\nfig.show()\n\n# 4. Category × LTV × Date (Top 5 categories)\n# Top 5 categories for LTV over time\ntop_5_categories = top_categories['Category'].head(5).tolist()\n\n# Filter data for Top 5 categories\ncat_date_ltv_top5 = df[df['category'].isin(top_5_categories)].groupby(['date_x','category'])['ltv'].sum().reset_index()\n\n# Plot LTV over time by category (Top 5)\nfig = px.line(\n    cat_date_ltv_top5,\n    x='date_x',\n    y='ltv',\n    color='category',\n    title='LTV Over Time by Category (Top 5)'\n)\nfig.show()"